@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/***
  Custom variables
***/
:root {
  /* neutral color */
  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(0, 0%, 100%);
  --primary-replace: 0 0 0;
  --secondary-replace: 255 255 255;

  /* general spacing */
  --padding: 2rem;

  /* navbar height */
  --nav-height: 5rem;

  /* container padding */
  --container-padding: clamp(2rem, 4vw, 4rem);
}

/***
  Utility class
***/

/* White Color Modifiers  */
.text--light-3 {
  color: rgba(var(--secondary-replace) / 1);
}
.text--light-2 {
  color: rgba(var(--secondary-replace) / 0.7);
}
.text--light-1 {
  color: rgba(var(--secondary-replace) / 0.5);
}
.text--light-0 {
  color: rgba(var(--secondary-replace) / 0.12);
}

/* Black Color Modifiers */
.text--dark-3 {
  color: rgba(var(--primary-replace) / 0.87);
}
.text--dark-2 {
  color: rgba(var(--primary-replace) / 0.54);
}
.text--dark-1 {
  color: rgba(var(--primary-replace) / 0.38);
}
.text--dark-0 {
  color: rgba(var(--primary-replace) / 0.12);
}

/* Text Size Modifers */
.text--large {
  font-size: 1.333rem;
  letter-spacing: 0.005rem;
  line-height: 1.333;
}
.text--default {
  font-size: 1rem;
  line-height: 1.618;
}
.text--small {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 1.618;
}

/* Text variant Modifiers -- inline */
.text--caps {
  font-size: 0.853rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.dark-mode {
  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(0, 0%, 100%);
}

.light-mode {
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 0%);
}

.underline {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.bold {
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 
This can be useful when you want to visually hide something on small screens but show it on larger screens */
.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.hide {
  transform: translateY(-100%);
}

.fw-normal {
  font-weight: normal;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.cursor {
  cursor: pointer;
}

.container {
  padding-inline: clamp(2rem, 4vw, 4rem);
}

.flow > * + * {
  margin-top: 10rem;
}

.subtitle {
  font-size: 0.85rem;
}

.grid {
  max-width: 1084px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.margin-center {
  margin-inline: auto;
}

/***
  Josh Comeau CSS Reset 
***/

/* 
  1. Use a more intuitive box-sizing model
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/

* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.333;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  color: var(--secondary);
  background-color: var(--primary);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.333;

  position: relative;
}

/* Header Sizes */
h1 {
  font-size: 3.157rem;
  letter-spacing: 0.03rem;
  line-height: 1.333;
}

/* overwrite h1 */
h1 {
  font-size: 3.657rem;
}

h2 {
  font-size: 2.369rem;
  letter-spacing: 0.07rem;
  line-height: 1.333;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
  margin: 0;
  margin-top: 1.618rem; /*  Golden ratio  */
  margin-bottom: 1.333rem; /*  Perfect Fourth  */
}

p {
  line-height: 1.618 !important;
  margin: 0;
  margin-bottom: 0.75rem;
  /* Body size(1rem / 1.333)   */
}

button {
  font-size: 0.875rem;
  font-weight: medium;
  letter-spacing: 1.25;
  text-transform: uppercase;
}

/* general styling */

svg {
  fill: currentColor;
}

button {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: var(--secondary);
  opacity: 0.85;
  position: relative;
  cursor: pointer;

  font-size: 0.875rem;
  text-transform: uppercase;
  word-spacing: 3px;
}

a:hover {
  text-decoration-skip-ink: all;
}

a::before,
a::after {
  position: relative;
  color: var(--secondary);
  opacity: 0;
  transition: opacity 250ms ease;
}

a::before {
  content: "[";
  left: -7.5px;
}

a::after {
  content: "]";
  right: -7.5px;
}

a:hover::before,
a:hover::after {
  opacity: 1;
}

.link::before,
.link::after {
  position: relative;
  color: var(--secondary);
  opacity: 0;
  transition: opacity 250ms ease;
}

.social-link::before {
  content: unset;
}

.social-link::after {
  content: unset;
}

ul {
  list-style-type: none;
  padding-left: 0;
  width: fit-content;
}

button {
  all: unset;
  cursor: pointer;
}

/* styling here */

/* navbar: refactor complete */
.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--primary);
  transition: transform 500ms ease-in;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--nav-height, 80px);
}

.navbar__links {
  display: flex;
  gap: 2.5rem;
}

.navbar--mobile {
  display: none;
}

@media (max-width: 770px) {
  .navbar {
    display: none;
  }

  .navbar--mobile {
    display: block;
    width: 100%;

    background-color: var(--primary);
  }

  .menu-container {
    display: flex;
    align-items: end;

    min-height: calc(100vh - var(--nav-height) * 2.5);
  }

  .menu__items {
    padding-left: var(--padding, 2rem);
    padding-bottom: 6rem;
  }

  .menu__items > * {
    position: relative;
    padding: 0.5rem 0;
  }
}
/* navbar: refactor complete */

/* button refactoring: complete */
#toggle {
  margin: 10px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.65rem 1.5rem;

  width: fit-content;

  background: transparent;
  color: var(--secondary);
  outline: 2px solid var(--secondary);
}
.btn > svg {
  display: inline-block;
}

.btn--white {
  background: transparent;
  color: var(--secondary);
  outline: 1px solid var(--secondary);
}

.btn--white:hover {
  transition: all 200ms ease-in-out;
  background: var(--secondary);
  color: var(--primary);
}

.btn--dark {
  background: var(--primary);
  outline: 1px solid rgba(211, 211, 211, 0.328);
}

/* button refactoring: complete */

/* grid refactoring: finished */

.grid__col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1;

  position: relative;
  overflow: hidden;
}

.collab__logo {
  transform: translateY(-500%);
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
/* grid refactoring: finished */

.collab__logo > img {
  width: clamp(50px, 10vw, 80px);
  height: auto;
  position: relative;
}

/* hero section */
.hero {
  height: 100%;
  min-height: calc(100% - var(--nav-height));
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

@media (min-width: 575px) {
  .hero__text {
    max-width: 510px;
    width: 100%;
  }
}

/* end hero section */

/* mission */

.mission {
  padding-top: 10rem;
}

.mission > * + * {
  margin-top: 10rem;
}

.mission-statement,
.cta {
  /* padding-block: 10rem; */
  width: 100%;
  text-align: center;
  margin-inline: auto;
}

@media (min-width: 576px) {
  .mission-statement,
  .cta {
    max-width: 80%;
  }
}

.mission-content {
  display: flex;
}

.mission-content--flip {
  flex-direction: row-reverse;
}

.mission-content > * {
  flex: 1;
}

.mission-content > img {
  max-width: 50%;
  aspect-ratio: 1.31/1;
}

.mission-content__text > p {
  max-width: 80%;
  margin-bottom: 1.5em;
}

.mission-content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8.125rem;
  padding-right: 3rem;
}

.mission-content--flip > .mission-content__text {
  padding-right: 8.125rem;
  padding-left: 3rem;
}

@media (max-width: 1000px) {
  .mission-content {
    display: block;
  }

  .mission-content > img {
    max-width: 90%;
    margin-inline: auto;
  }

  .mission-content__text {
    display: block;
    padding: unset;
    max-width: 80%;
    margin-inline: auto;
  }

  .mission-content__text > p {
    max-width: unset;
    margin-bottom: unset;
    padding-block: 2em;
  }

  .mission-content--flip > .mission-content__text {
    padding: unset;
  }
}

/* end mission */

/* work section */

.work {
  padding-top: 10rem;
}

.work > * + * {
  margin-top: 10rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work__feature > * {
  padding-inline: var(--container-padding);
}

.feature__text {
  padding-top: 2rem;
  padding-bottom: 3.5rem;
}

@media (max-width: 780px) {
  .work__feature > img {
    padding-inline: unset;
  }
}

@media (min-width: 780px) {
  .feature__text {
    display: flex;
    gap: 5rem;
  }

  .feature__text > * {
    flex: 1;
  }
}

@media (min-width: 900px) {
  .work__feature > * {
    padding-inline: 0;
  }

  .work__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(22rem, 100%), 1fr));
    gap: 2rem;
    padding-inline: var(--container-padding);
  }

  .feature__text {
    flex-direction: column;
    gap: 1rem;
  }
}
/* end work section */

/* contacts */
.contact {
  padding-top: clamp(5rem, 20vw, 15rem);
  padding-bottom: clamp(10rem, 20vw, 20rem);
  /* 2 - 10 */
  /* 5 - 15 */
}

/* end of contacts */

/* footer links */
.footer {
  --footer-gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(2, min(200px, 100%));
  gap: var(--footer-gap);
}

.footer-navigation li + li {
  margin-top: var(--footer-gap);
}

.socials {
  --socials-gap: 1.75rem;
  display: flex;
  align-items: center;
  gap: var(--socials-gap);
}

.socials > ul {
  display: flex;
  gap: var(--socials-gap);
}

.social-link > img {
  width: 28px;
  aspect-ratio: 1;
}

@media (max-width: 1000px) {
  .socials {
    flex-direction: column;
    align-items: unset;
    justify-content: end;
  }
}

@media (max-width: 740px) {
  .footer {
    display: flex;
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    gap: 3rem;
  }

  .socials {
    flex-direction: row;
    align-items: center;
    justify-content: unset;
    gap: clamp(3rem, 7vw, 6rem);
  }
}

@media (max-width: 450px) {
  .footer-navigation {
    grid-template-columns: unset;
  }

  .socials {
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 500px) {
  .contact,
  .cta {
    height: unset;
  }

  .mission {
    padding-top: 3rem;
  }

  .mission > * + * {
    margin-top: 5rem;
  }

  .hero__text {
    width: 100%;
  }

  section {
    padding-bottom: 5rem;
  }
}

/* socials logo */
html.light-mode .socials > ul > li {
  mix-blend-mode: difference;
}

.animation {
  animation-name: fadeInDown, fadeOutUp;
  animation-fill-mode: forwards;
  animation-delay: 0s, 2.5s;
  animation-duration: 500ms, 150ms;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
  }
}
